{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block pageName %}
    register-page
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="register-box">
        <div class="register-logo">
            <a href="/"><b>BloodBank</b>Manager</a>
        </div>
    
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register a new Blood Bank</p>
    
                <form method="post">
                    <div class="input-group mb-3">
                        {{ form_widget(registrationForm.email) }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        {{ form_errors(registrationForm.email)}}
                    </div>
                    <div class="input-group mb-3">
                        {{ form_widget(registrationForm.plainPassword) }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        {{ form_errors(registrationForm.plainPassword)}}
                    </div>
                    <div class="input-group mb-3">
                        {{ form_widget(registrationForm.bloodBankCodeName) }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-heartbeat" style="color: red;"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        {{ form_errors(registrationForm.bloodBankCodeName)}}
                    </div>
                    <!-- <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Retype password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-12">
                            <div class="icheck-primary">
                                {{ form_widget(registrationForm.agreeTerms) }}
                                <label for="registration_form_agreeTerms">
                                    I agree to the <a href="#">terms of service</a>
                                </label>
                            </div>
                        </div>
                        {{ form_errors(registrationForm.agreeTerms)}}
                    {{ form_rest(registrationForm) }}
                        
                    </div>

                    <div class="row my-1">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Create your blood bank</button>
                        </div>
                    </div>
                </form>
    
                <!-- <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Sign up using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Sign up using Google+
                    </a>
                </div> -->
    
                <a href="{{ path('app_login') }}" class="text-center">I already have an account</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>

{% endblock %}

